<!-- menu.ejs -->
<div class="container-menu">
    <nav class="navbar">
        <a class="navbar-brand" href="#">Menu</a>
        <div class="menu-toggle" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="navbar-nav">
            <li><a href="./">Home</a></li>
            <li><a href="/contas_pagas">Contas Pagas</a></li>
            <li><a href="/contas_pendentes">Contas Pendentes</a></li>
        </ul>
    </nav>

    <!-- Botão para abrir o modal -->
    <button id="abrirModal">
        <img src="../../public/icons/settings_48x48.png" alt="Gerenciar Limite" style="width: 24px; height: 24px;">
    </button>
</div>