<div id="modalGerenciarLimite" class="modal" style="display: none;">
    <div class="modal-conteudo">
        <span class="fechar" id="fecharModal">&times;</span>
        <h2>Gerenciar Limite</h2>
        <form id="form_addLimite" method="POST" onsubmit="return enviarPost(event)">
            <label for="mes">Mês:</label>
            <select id="mes" name="mes">
                <option value="">Selecione o Mês</option>
                <% const meses=[ "Janeiro" , "Fevereiro" , "Março" , "Abril" , "Maio" , "Junho" , "Julho" , "Agosto"
                    , "Setembro" , "Outubro" , "Novembro" , "Dezembro" ]; %>
                    <% for (let i=0; i < meses.length; i++) { %>
                        <option value="<%= i %>">
                            <%= meses[i] %>
                        </option>
                    <% } %>
            </select>

            <label for="ano">Ano:</label>
            <select id="ano" name="ano">
                <% if (Array.isArray(anos) && anos.length> 0) { %>
                    <% anos.forEach(ano=> { %>
                        <option value="<%= ano.ano %>">
                            <%= ano.ano %>
                        </option>
                        <% }); %>
                            <% } else { %>
                                <option value="">Nenhum ano disponível</option>
                                <% } %>
            </select>

            <label for="limite">Limite:</label>
            <input type="text" id="limite" name="limite" required />

            <button type="submit">Salvar Limite</button>
        </form>
    </div>
</div>